@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #383535;
    color: #fff;
    overflow: hidden;
}

header {
    background-color: #ad1e10;
    color: white;
    padding: 10px 10px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    height: 40px;
}

.container {
    margin: 20px;
    background: #383535;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container-header {
    display: flex;
    background-color: #ad1e10;
    color: white;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #fff;
}

.container-header .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.container-header .icon:hover {
    transform: scale(1.1);
}

.container-body {
    display: none;
    padding: 20px;
    justify-content: space-between;
    height: calc(100vh - 100px);
}

.content-section {
    display: none;
    flex: 1;
    margin: 0 10px;
}

#qr_code_section {
    text-align: center;
}

#qr_code_section button {
    width: 80%;
    padding: 15px;
    background-color: #ad1e10;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#qr_code_section button:hover {
    background-color: #8e1a0d;
}

#qr_video {
    width: 100%;
    height: 80%;
    border-radius: 4px;
    margin-bottom: 10px;
    display: none;
    border-radius: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    color: #383535;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ad1e10;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

#close_qr_btn {
    background-color: #ad1e10;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    display: none;
    transition: background-color 0.3s ease;
}

#close_qr_btn:hover {
    background-color: #8e1a0d;
}

.tickets{
    overflow-y: auto;
    max-height: 90%;

}

.ticket {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 15px 0;
    padding: 20px;
    list-style: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ticket:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.ticket-header, .ticket-body, .ticket-footer {
    margin-bottom: 10px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.ticket-id, .ticket-status {
    font-size: 16px;
    font-weight: 600;
    color: #383535;
}

.ticket-body p {
    margin: 8px 0;
    font-size: 14px;
    color: #333;
}

.ticket-body p span {
    font-weight: 600;
    color: #ad1e10;
    margin-left: 5px;
}

.ticket-footer {
    font-size: 12px;
    color: #888;
    border-top: 2px solid #f0f0f0;
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}

.ticket-creation-date {
    font-style: italic;
}

.active-session{
    background-color: #38353591;
    padding: 5px;
    border-radius: 10px;
}
#search-active-ticket{
    width: 100%;
    padding: 10px;
    background-color: #ad1e10;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
#search-inactive-ticket{
    width: 100%;
    padding: 10px;
    background-color: #ad1e10;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}
@media screen and (max-width: 768px) {
    #qr_video {
        width: 100%;
        border-radius: 4px;
        margin-bottom: 10px;
        display: none;
    }
}