@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}
body{
    background: linear-gradient(to right, #383535, #312f2f);    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 9%;
    text-align: center;
    color: white;
    background-color: #ad1e10;
    font-size: 30px;
}
header img{
    width: 1.5em;
}
header h1{
    font-size: 1em;
}
.container{
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 87%;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}
.container-header{
    display: flex;
    width: 100%;
    height: 10%;
    align-items: center;
    background-color: transparent;
    justify-content: space-around;
    border-bottom: 1px solid #ad1e10;
    border-radius: 10px 10px 0 0;
    background-color: rgb(133, 130, 130);
}
.icon{
    transition: 0.3s;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5em;
    color: black;
    cursor: pointer;
}
.icon:not(:last-child){
    border-right: 2px solid black;
}
.icon.active{
    background-color: #ad1e10;
    color: white;
}
.icon:hover{
    background-color: #ad1e10;
    color: white;
}
.icon:last-child{
    border-top-right-radius: 10px;
}
.icon:first-child{
    border-top-left-radius: 10px;
}
.container-body{
    width: 100%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #312f2f;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}
.content-section{
    width: 95%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Active Ticket Session */
#active_tickets_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 95%;
    height: 90%;
    color: white;
}
.tickets{
    width: 100%;
    max-height: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    list-style: none;
    padding: 10px;
    overflow-y: auto;
}
.search-form{
    width: 80%;
    padding-bottom: 10px;
}
#search-active-ticket{
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}
.ticket {
    background-color: #fff;
    border-radius: 12px;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    list-style: none;
}

.ticket:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.ticket-header, .ticket-body {
    margin-bottom: 12px;
}

.ticket-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #f0f0f0;
    padding-bottom: 10px;
}

.ticket-id, .ticket-status {
    font-size: 18px;
    font-weight: 600;
    color: #383535;
}

.ticket-body p {
    margin: 10px 0;
    font-size: 16px;
    color: #333;
}

.ticket-body p span {
    font-weight: 600;
    color: #ad1e10;
    margin-left: 5px;
}

.ticket-footer {
    font-size: 14px;
    color: #888;
    border-top: 2px solid #f0f0f0;
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
}

.qr-code-button{
    cursor: pointer;
    color: white;
    background-color: #ad1e10;
    padding: 10px 20px;
    height: auto;
    font-size: 16px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.ticket-creation-date {
    font-style: italic;
    width: 40%;
    text-align: center;
}
.ticket-status{
    text-align: end;
}

/* INACTIVE TICKET SECTION */

#inactive_tickets_section{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 95%;
    height: 90%;
    color: white;
}
#search-inactive-ticket{
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}



/* popup qr code */
.qr-code-popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.842); /* Sombra de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: none; /* Inicialmente oculto */
}

/* Conteúdo do popup */
.qr-code-popup-content {
    background-color: white;
    border-radius: 8px;
    width: 80%;
    height: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.64);
    position: relative;
}

/* Ícone de fechar */
#close-qr-code-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: black;
}
#close-qr-code-popup:hover {
    color: #ad1e10;
}
/* Cabeçalho do popup */
.qr-code-popup-header{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ad1e10;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.qr-code-popup-body {
    display: flex;
    justify-content: center;
    height: 80%;
    align-items: center;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.qr-code-popup-button{
    width: 100%;
    display: none;
    justify-content: space-around;
    align-items: center;
}
.qr-code-popup-button button{
    width: 20%;
    height: 4em;
    border-radius: 10px;
    border: none;
}
#decline{
    background-color: #fd4535;
    color: white;
}
#approve{
    background-color: green;
    color: white;
}
/* RESPONSIVO */

@media (max-width: 768px) {
    .tickets {
        grid-template-columns: repeat(1, 1fr);
    }
    .ticket{
        margin: 5px 0px;
    }
    .ticket-header {
       text-align: center;
    }
    .search-form{
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .qr-code-popup-body{
        height: 80%;
    }
    #qrVideo{
        width: 100%;
    }
}